@page
@model WebApp.Pages.InvoiceModel
@{
    ViewData["Title"] = "Invoice";
}
<div class="text-center">
    <h1 class="display-4">Invoice details</h1>

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Your cart is currently empty!</h4>
        <p>Please Add to Cart any awesome inventory equipment and try again ;).</p>
        <hr>
        <p class="mb-0">And be careful about using heavy types of inventory equipment.</p>
    </div>
</div>
